.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    margin: -1px
}

.container {
    margin: 0 auto;
    max-width: 1800px;
    position: relative;
    width: 100%;
    padding: 0 clamp(16px,4vw,48px)
}

.title2,.title {
    font-size: clamp(5.778rem,10vw,8.889rem);
    font-weight: 600;
    letter-spacing: -0.03em;
    line-height: 1
}

.text {
    font-size: clamp(1.333rem,5vw,1.778rem);
    line-height: 1.15;
    font-weight: 500
}

.ic-left,.ic-right {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 0
}

.ic-left::after,.ic-left::before,.ic-right::after,.ic-right::before {
    content: "";
    border-left: clamp(1px,.175em,3px) solid;
    border-top: clamp(1px,.175em,3px) solid;
    border-top-left-radius: max(clamp(1px,.175em,3px),1px);
    display: block;
    width: 7px;
    height: 7px;
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform .5s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.ic-left {
    left: 0
}

.ic-left::before {
    -webkit-transform: rotate(0deg) translate(calc(clamp(1px, 0.175em, 3px) * -1 / 2), calc(clamp(1px, 0.175em, 3px) * -1 / 2));
    transform: rotate(0deg) translate(calc(clamp(1px, 0.175em, 3px) * -1 / 2), calc(clamp(1px, 0.175em, 3px) * -1 / 2))
}

.ic-left::after {
    -webkit-transform: rotate(-90deg) translate(calc(clamp(1px, 0.175em, 3px) * -1 / 2), calc(clamp(1px, 0.175em, 3px) * -1 / 2));
    transform: rotate(-90deg) translate(calc(clamp(1px, 0.175em, 3px) * -1 / 2), calc(clamp(1px, 0.175em, 3px) * -1 / 2))
}

.ic-right {
    right: 0
}

.ic-right::before {
    -webkit-transform: rotate(90deg) translate(calc(clamp(1px, 0.175em, 3px) * -1 / 2), calc(clamp(1px, 0.175em, 3px) * -1 / 2));
    transform: rotate(90deg) translate(calc(clamp(1px, 0.175em, 3px) * -1 / 2), calc(clamp(1px, 0.175em, 3px) * -1 / 2))
}

.ic-right::after {
    -webkit-transform: rotate(180deg) translate(calc(clamp(1px, 0.175em, 3px) * -1 / 2), calc(clamp(1px, 0.175em, 3px) * -1 / 2));
    transform: rotate(180deg) translate(calc(clamp(1px, 0.175em, 3px) * -1 / 2), calc(clamp(1px, 0.175em, 3px) * -1 / 2))
}
