@font-face {
    font-family: Indivisible;
    src: url("./assets/scss/base/font/IndivisibleVariable.f64f7f53.woff2") format("woff2");
    font-weight: 100 1000
}

@font-face {
    font-family: Pretendard;
    src: url("./assets/scss/base/font/PretendardVariable.woff2") format("woff2");
    font-weight: 45 920
}